<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>
<div class="container">
    <h1>课程新增</h1>
    <form class="form-horizontal" th:action="@{/addClass}" method="post">
        <input type="hidden" name="id" th:value="${kecheng.id}" />


        <div class="form-group">
            <label class="col-sm-2 control-label">所属学校</label>
            <div class="col-sm-10">
                <!--<input type="text" class="form-control" name="staffSection"  id="staffSection" placeholder="员工部门" th:value="${staff.staffSection}"/>-->
                <select th:field="${kecheng.sname}" th:value="${kecheng.sname}" name="snmae" lay-verify="required">
                    <option value="">请选择分配部门</option>
                    <option value="香创幼儿园">香创幼儿园</option>
                    <option value="香创小学">香创小学</option>
                    <option value="香创中学">香创中学</option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label  class="col-sm-2 control-label">所属班级</label>
            <div class="col-sm-10">
                <!--
                                &lt;!&ndash;<input type="text" class="form-control" name="staffSection"  id="staffSection" placeholder="员工部门" th:value="${staff.staffSection}"/>&ndash;&gt;
                -->
                <select th:field="${kecheng.sclass}" th:value="${kecheng.sclass}" name="sclass" lay-verify="required">
                    <option value="">请选择分配部门</option>
                    <option value="一年(1)班">一年(1)班</option>
                    <option value="一年(2)班">一年(2)班</option>
                    <option value="二年(1)班">二年(1)班</option>
                    <option value="二年(2)班">二年(2)班</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="kdate" class="col-sm-2 control-label">开始时间</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="kdate"  id="kdate" placeholder="createTime" th:value="${kecheng.kdate}"/>
            </div>
        </div>

        <div class="form-group">
            <label for="jdate" class="col-sm-2 control-label">结束时间</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="jdate"  id="jdate" placeholder="createTime" th:value="${kecheng.jdate}"/>
            </div>
        </div>




        <div class="form-group">
            <label class="col-sm-2 control-label">课程类别</label>
            <div class="col-sm-10">
                <!-- &lt;!&ndash;<input type="text" class="form-control" name="staffSection"  id="staffSection" placeholder="员工部门" th:value="${staff.staffSection}"/>&ndash;&gt;-->
                <select th:field="${kecheng.stype}" th:value="${kecheng.stype}" name="stype" lay-verify="required">
                    <option value="">请选择状态</option>
                    <option value="1">通用</option>
                    <option  value="0">待定</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="新增" class="btn btn-info" />
                <a th:href="@{/findClass}" class="btn btn-info">返回</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>