<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>

<div class="container">
    <h1>课程列表</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>学校</th>
            <th>班级</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>课表类型</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${clist}">
            <td></td>
            <td th:text="${order.id}"></td>
            <td th:text="${order.sname}"></td>
            <td th:text="${order.sclass}"></td>
            <td th:text="${order.kdate}"></td>
            <td th:text="${order.jdate}"></td>
            <td th:text="${order.stype==1?'通用':'待定'}"></td>
            <td>
                <a th:href="@{/selectClassById(id=${order.id})}">查看/编辑</a>
            </td>
            <td>
                <a th:href="@{/deleteClass(id=${order.id})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
   <!-- <ul class="pagination pagination-lg" >
        <li th:class="${indexPage==1}?'disabled' : ''"><a href="#">上一页</a></li>
        <li th:if="${indexPage-3 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-3}}" th:text="${indexPage -3}" >1</a></li>
        <li th:if="${indexPage-2 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-2}}" th:text="${indexPage -2}" >1</a></li>
        <li th:if="${indexPage-1 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-1}}" th:text="${indexPage -1}" >1</a></li>
        <li class="active"><a href="#" th:text="${indexPage}" >1</a></li>
        <li th:if="${indexPage+1 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+1}}" th:text="${indexPage +1}" >1</a></li>
        <li th:if="${indexPage+2 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+2}}" th:text="${indexPage +2}" >1</a></li>
        <li th:if="${indexPage+3 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+3}}" th:text="${indexPage +3}" >1</a></li>

        <li th:class="${indexPage==totalPage}?'disabled' : ''" ><a href="#">下一页</a></li>
    </ul>-->
</div>
</body>
</html>