<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstraps/bootstrap-paginator.js"></script>
    <script src="../js/vue/vue.min.js"></script>
</head>
<body>
<div id="app" class="container">
    <h1>食堂饭菜管理</h1>
    <form action="" id="list_form">
        <div class="form-group">
            <label for="eatSchool" class="col-sm-1 control-label">学校名称：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="eatSchool" v-model="eatSchool" placeholder="请输入名称">
            </div>
        </div>
        <button type="button" class="btn btn-default" onclick="selectlistAll()">搜索</button>
    </form>
    <br>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="huixian(0);"><i class="fa fa-file-o"></i> 新建</button>
    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
    <a class="btn btn-default" @click="piliang()">删除</a>
    <table class="table table-bordered">
        <tr>
            <th><input type="checkbox" name="check" id="qx" onclick="quanxuan()"></th>
            <th>id</th>
            <th>学校</th>
            <th>开学时间</th>
            <th>早餐</th>
            <th>午餐</th>
            <th>晚餐</th>
            <th>操作</th>
        </tr>
        <tr v-for="we in eatList">
            <td><input type="checkbox" name="check" :value="we.eatId"></td>
            <td>{{we.eatId}}</td>
            <td>{{we.eatSchool}}</td>
            <td>{{we.createDate}}</td>
            <td>{{we.breakfast}}</td>
            <td>{{we.morning}}</td>
            <td>{{we.afternoon}}</td>
            <td>
                <a class="btn btn-default" data-toggle="modal" data-target="#editModal" @click="huixian(we.eatId)">编辑</a>
                <a class="btn btn-default" @click="shanchu(we.eatId)">删除</a>
            </td>
        </tr>
    </table>
    <div class="col-md-6">
        <strong>当前第 {{currPage}}页,每页<select style="width:50px;" v-model="pageSize" @change="shuaxin()">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
        </strong>
    </div>
    <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
</div>

<!--新建弹框-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h3 id="myModalLabel">食堂管理</h3>
            </div>
            <form id="forms" method="post">
                <div class="modal-body" id="ppa">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="eatId" style="display:none" v-model="list.eatId" readonly="readonly">
                        <tr>
                            <td>学校</td>
                            <td> <input class="form-control" name="eatSchool" v-model="list.eatSchool"></td>
                        </tr>
                        <tr>
                            <td>早餐</td>
                            <td>
                                <input class="form-control" name="breakfast" v-model="list.breakfast">
                            </td>
                        </tr>
                        <tr>
                            <td>午餐</td>
                            <td>
                                <input class="form-control" name="morning" v-model="list.morning">
                            </td>
                        </tr>
                        <tr>
                            <td>晚餐</td>
                            <td>
                                <input class="form-control" name="afternoon" v-model="list.afternoon">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="insert()" data-dismiss="modal" aria-hidden="true">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var vm=new Vue({
        el:'#app',
        data:{
            costAll:"",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3",
            eatSchool:""
        }
    })


    //新增
    function insert(){
        $.ajax({
            url:"/insert",
            type:"post",
            data:$("#forms").serialize(),
            datatype:'json',
            success:function(){
                selectlistAll();
            },
        });
    }


    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })

    function shuaxin(){
        selectlistAll();
    }
    function huixian(ids){
        $.ajax({
            url:"/queryOne",
            type:"post",
            data:{ids:ids},
            success:function(data){
                vs.list=data;
            },
        });
    }

    function piliang(){
        var arr = document.getElementsByName("check");
        var ids="";
        for ( var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids+=ids==""?arr[i].value:","+arr[i].value;
            }
        }
        if (ids=="") {
            alert("请至少选中一条！");
            return;
        }

        $.ajax({
            url:"/del",
            type:"post",
            data:{ids:ids},
            success:function(){
                alert("Nice成功");
                selectlistAll();

            }

        })
    }
    function shanchu(ids){
        $.ajax({
            url:"/del",
            type:"post",
            data:{ids:ids},
            success:function(){
                alert("Nice成功");
                selectlistAll();
            }

        })
    }
    $(function(){
        selectlistAll();
    })
    function selectlistAll() {
        $.ajax({
            type:"post",
            url:"/queryEat",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize,"eatSchool":vm.eatSchool},
            dataType:"json",
            success: function(result) {
                vm.eatList = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,selectlistAll);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }




    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }


</script>
</html>