<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎光临</title>

    <script src="../js/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../bootstraps/bootstrap-paginator.js"></script>
    <script src="../vue/vue.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
</head>
<body>
<div id="app" class="container">
    <h1>学校管理表</h1>
    <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" onclick="xiu();"><i class="fa fa-file-o"></i> 新建</button>
    <button type="button" class="btn btn-default" title="删除" onclick="delpi()"><i class="fa fa-trash-o"></i> 删除</button>
    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
    <br>
    <table class="table table-bordered">
        <tr>
            <th><input id="selall" type="checkbox"></th>
            <th>学校ID</th>
            <th>学校名字</th>
            <th>学校类型</th>
            <th>学校所在地</th>
            <th>创建时间</th>
            <th>管理员</th>
            <th>学校评价</th>
            <th>操作</th>
        </tr>
        <tr v-for="abc in schoollist">
            <td><input type="checkbox" name="che" :value="abc.schoolid"></td>
            <td>{{abc.schoolid}}</td>
            <td>{{abc.schoolname}}</td>
            <td>{{abc.cname}}</td>
            <td>{{abc.schoolLocation}}</td>
            <td>{{abc.schooldate}}</td>
            <td>{{abc.schoolgly}}</td>
            <td>{{abc.schooldesc}}</td>
            <td>
                <a data-toggle="modal" data-target="#editModal" @click="xiu(abc.schoolid)">[编辑]</a> |
                <a @click="shan(abc.schoolid)">[删除]</a>
            </td>
        </tr>
    </table>
    <div class="col-md-6">
        <strong>当前第 {{currPage}}页,每页<select style="width:50px;" v-model="pageSize" @change="shuaxin()">
            <option value="3">3</option>
            <option value="6">6</option>
            <option value="8">8</option>
            <option value="10">10</option>
        </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
        </strong>
    </div>
    <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
</div>
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" id="ppa">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">管理员操作</h3>
            </div>
            <form id="forms" method="post">
                <div class="modal-body">
                    <table class="table table-bordered table-striped"  width="800px">
                        <input class="form-control" name="schoolid" style="display:none" readonly="readonly" v-model="list.schoolid">
                        <tr>
                            <td>学校名字</td>
                            <td><input class="form-control" type="text" name="sName" placeholder="学校名字" v-model="list.schoolname"></td>
                        </tr>
                        <tr>
                            <td>学校类型</td>
                            <td>
                                <label class="radio-inline">
                                    <input type="radio"  value="1" name="typeid" v-model="list.typeid">幼儿园
                                </label>

                                <label class="radio-inline">
                                    <input type="radio"  value="2" name="typeid" v-model="list.typeid">小学
                                </label>

                                <label class="radio-inline">
                                    <input type="radio"  value="3" name="typeid" v-model="list.typeid">高中
                                </label>

                                <label class="radio-inline">
                                    <input type="radio"  value="4" name="typeid" v-model="list.typeid">大学
                                </label>

                                <label class="radio-inline">
                                    <input type="radio"  value="5" name="typeid" v-model="list.typeid">硕士生
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>学校所在地</td>
                            <td><input class="form-control" type="text" name="sLocation" placeholder="学校所在地" v-model="list.schoolLocation"></td>
                        </tr>
                        <tr>
                            <td>创建时间</td>
                            <td><input class="form-control" type="date" name="sDate" placeholder="创建时间" v-model="list.schooldate"></td>
                        </tr>
                        <tr>
                            <td>管理员</td>
                            <td><input class="form-control" type="text" name="sGly" placeholder="管理员" v-model="list.schoolgly"></td>
                        </tr>
                        <tr>
                            <td>学校评价</td>
                            <td><input class="form-control" type="text" name="sdesc" placeholder="学校评价" v-model="list.schooldesc"></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" onclick="insert()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            schoollist: "",
            totalPage:"",
            total:"",
            currPage:"1",
            pageSize:"3"
        }
    })
    var vs = new Vue({
        el: '#ppa',
        data: {
            list:''
        }
    })
    function shuaxin(){
        searchTypelist();
    }
    //单删
    function shan(ids) {
        var r=confirm("确认删除选择的数据吗?");
        if (r){
            $.ajax({
                url:"/del",
                type:"post",
                data:{ids:ids},
                success:function(){
                    searchTypelist();
                },
            });
        }else{
            alert("你取消了这个操作");
        }
    }
    //修改
    function xiu(ids){
        $.ajax({
            url:"/findOne",
            type:"post",
            data:{ids:ids},
            success:function(data){
                vs.list=data;
            },
        });
    }
    //新增
    function insert(){
        $.ajax({
            url:"/add",
            type:"post",
            data:$('#forms').serialize(),
            success:function(){
                searchTypelist();
            },
        });
    }
    //批删
    function delpi(){
        var arr = document.getElementsByName("che");
        var ids="";
        for ( var i = 0; i < arr.length; i++) {
            if (arr[i].checked) {
                ids+= ids==""?arr[i].value:","+arr[i].value;
            }
        }
        if (ids=="") {
            alert("请至少选中一条！");
            return;
        }
        $.ajax({
            url:"/del",
            type:"post",
            data:{'ids':ids},
            success:function(){
                alert("删除成功")
                searchTypelist();
            },
        });
    }
    //分页查询
    $(function() {
        searchTypelist();
        $("#selall").click(
            function(){
                $("input[name='che']").attr("checked",this.checked);
            })
    })

    function searchTypelist() {
        $.ajax({
            type:"post",
            url:"/findAll",
            data:{"currPage":vm.currPage,"pageSize":vm.pageSize},
            dataType:"json",
            success: function(result) {
                vm.schoollist = result.rows;
                vm.totalPage = result.totalPage;
                vm.total = result.total;
                vm.currPage = result.currPage;
                vm.pageSize = result.pageSize;
                setPage(result.currPage,result.totalPage,result.pageSize,searchTypelist);
            },
            error : function() {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    /**
     *
     * @param pageCurrent 当前所在页
     * @param pageSum 总页数
     * @param callback 调用ajax
     */
    function setPage(pageCurrent, pageSum, pageSize, callback) {
        $('#pageLimit').bootstrapPaginator({
            currentPage: pageCurrent,//当前的请求页面。
            totalPages: pageSum,//一共多少页。
            size:"normal",//应该是页眉的大小。
            bootstrapMajorVersion: 3,//bootstrap的版本要求。
            alignment:"right",
            numberOfPages:pageSize,//一页列出多少数据。
            itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                switch (type) {
                    case "first": return "首页";
                    case "prev": return "上一页";
                    case "next": return "下一页";
                    case "last": return "末页";
                    case "page": return page;
                }
            },
            //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
            onPageClicked: function (event,originalEvent,type,page) {
                // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                vm.currPage = page;
                callback && callback()
            }
        });
    }
</script>
</body>
</html>