<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>
<div class="container">
    <h1>调班</h1>
    <form class="form-horizontal" th:action="@{/xinzheng}" method="post">
        <input type="hidden" name="id" th:value="${student.id}" />
        <div class="form-group">
            <label class="col-sm-2 control-label">所属学校</label>
            <div class="col-sm-10">
                <!--<input type="text" class="form-control" name="staffSection"  id="staffSection" placeholder="员工部门" th:value="${staff.staffSection}"/>-->
                <select th:field="${student.stuschool}" th:switch="${student.stuschool}" name="stuschool" >
                    <option value="">请选择分配部门</option>
                    <option th:selected="selected" value="香创幼儿园">香创幼儿园</option>
                    <option  th:selected="selected" value="香创小学">香创小学</option>
                    <option th:selected="selected" value="香创中学">香创中学</option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label  class="col-sm-2 control-label">所属班级</label>
            <div class="col-sm-10">
                <!--
                                &lt;!&ndash;<input type="text" class="form-control" name="staffSection"  id="staffSection" placeholder="员工部门" th:value="${staff.staffSection}"/>&ndash;&gt;
                -->
                <select th:field="${student.stuclass}" th:switch="${student.stuclass}" name="stuclass" >
                    <option value="">请选择分配部门</option>
                    <option  th:selected="selected" value="一年(1)班">一年(1)班</option>
                    <option  th:selected="selected" value="一年(2)班">一年(2)班</option>
                    <option  th:selected="selected" value="二年(1)班">二年(1)班</option>
                    <option  th:selected="selected" value="二年(2)班">二年(2)班</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="新增" class="btn btn-info" />
                <a th:href="@{/findStudent}" class="btn btn-info">返回</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>