<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-table.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstarp/bootstrap-table.css}" />
</head>
<body>

<div class="container">
    <h1>学生列表</h1>
    <div class="text-left">
        <a class="btn btn-info" th:href="@{toAdd}">新增学生</a>
        姓名：<input type="text" value="" name="ename" th:value="${stuname}">
        <a href="/findStudent">查询</a>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>姓名</th>
            <th>班级</th>
            <th>手机</th>
            <th>状态</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${stulist}">
            <td></td>
            <td th:text="${order.id}"></td>
            <td th:text="${order.stuname}"></td>
            <td th:text="${order.stuclass}"></td>
            <td th:text="${order.stuphone}"></td>
            <td th:text="${order.stustatus==1?'启用':'禁用'}"></td>
            <td>
                <a th:href="@{/tiaoban(id=${order.id})}">调班</a>
            </td>
            <td>
                <a th:href="@{/selectStudentById(id=${order.id})}">编辑</a>
            </td>
            <td>
                <a th:href="@{/deleteStudent(id=${order.id})}">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-lg" >
        <li th:class="${indexPage==1}?'disabled' : ''"><a href="#">上一页</a></li>
        <li th:if="${indexPage-3 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-3}}" th:text="${indexPage -3}" >1</a></li>
        <li th:if="${indexPage-2 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-2}}" th:text="${indexPage -2}" >1</a></li>
        <li th:if="${indexPage-1 >=1}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage-1}}" th:text="${indexPage -1}" >1</a></li>
        <li class="active"><a href="#" th:text="${indexPage}" >1</a></li>
        <li th:if="${indexPage+1 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+1}}" th:text="${indexPage +1}" >1</a></li>
        <li th:if="${indexPage+2 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+2}}" th:text="${indexPage +2}" >1</a></li>
        <li th:if="${indexPage+3 <=totalPage}" ><a th:href="@{'admin_law_list.html?page=' + ${indexPage+3}}" th:text="${indexPage +3}" >1</a></li>

        <li th:class="${indexPage==totalPage}?'disabled' : ''" ><a href="#">下一页</a></li>
    </ul>
</div>

</body>
</html>