<!DOCTYPE html>
<html>
  <head>
    <title>暂缺</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/暂缺/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/暂缺/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (页头固定条) -->

      <!-- Unnamed (矩形) -->
      <div id="u1116" class="ax_default box_1">
        <img id="u1116_img" class="img " src="images/学校管理/u41.png"/>
        <!-- Unnamed () -->
        <div id="u1117" class="text" style="display: none; visibility: hidden">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (椭圆形) -->
      <div id="u1118" class="ax_default ellipse">
        <img id="u1118_img" class="img " src="images/学校管理/u43.png"/>
        <!-- Unnamed () -->
        <div id="u1119" class="text" style="visibility: visible;">
          <p><span>LOGO</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1120" class="ax_default box_1">
        <img id="u1120_img" class="img " src="images/学校管理/u45.png"/>
        <!-- Unnamed () -->
        <div id="u1121" class="text" style="visibility: visible;">
          <p><span>&nbsp; 网站首页</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1122" class="ax_default box_1">
        <img id="u1122_img" class="img " src="images/学校管理/u45.png"/>
        <!-- Unnamed () -->
        <div id="u1123" class="text" style="visibility: visible;">
          <p><span style="color:#6B6B6B;"></span><span> 学校管理</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1124" class="ax_default box_1">
        <img id="u1124_img" class="img " src="images/学校管理/u45.png"/>
        <!-- Unnamed () -->
        <div id="u1125" class="text" style="visibility: visible;">
          <p><span style="color:#6B6B6B;"></span><span> 修改资料</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1126" class="ax_default box_1">
        <img id="u1126_img" class="img " src="images/学校管理/u51.png"/>
        <!-- Unnamed () -->
        <div id="u1127" class="text" style="visibility: visible;">
          <p><span>选择代理商</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1128" class="ax_default _文本段落1">
        <img id="u1128_img" class="img " src="resources/images/transparent.gif"/>
        <!-- Unnamed () -->
        <div id="u1129" class="text" style="visibility: visible;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u1130" class="ax_default droplist">
        <select id="u1130_input">
          <option value="香创幼儿园">香创幼儿园</option>
          <option value="香创小学">香创小学</option>
          <option value="香创中学">香创中学</option>
        </select>
      </div>

      <!-- Unnamed (下拉列表框) -->
      <div id="u1131" class="ax_default droplist">
        <select id="u1131_input">
          <option selected value="一年级（1）班">一年级（1）班</option>
          <option value="一年级（2）班">一年级（2）班</option>
          <option value="二年级（1）班">二年级（1）班</option>
          <option value="二年级（2）班">二年级（2）班</option>
        </select>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1132" class="ax_default box_2">
        <img id="u1132_img" class="img " src="images/暂缺/u1132.png"/>
        <!-- Unnamed () -->
        <div id="u1133" class="text" style="visibility: visible;">
          <p><span>暂缺</span></p>
        </div>
      </div>

      <!-- 1 (矩形) -->
      <div id="u1134" class="ax_default box_1 selected" data-label="1">
        <img id="u1134_img" class="img " src="images/学校管理/1_u191_selected.png"/>
        <!-- Unnamed () -->
        <div id="u1135" class="text" style="visibility: visible;">
          <p><span>&nbsp; 学校管理</span></p>
        </div>
      </div>

      <!-- 4 (矩形) -->
      <div id="u1136" class="ax_default box_1" data-label="4">
        <img id="u1136_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1137" class="text" style="visibility: visible;">
          <p><span>&nbsp; 职工管理</span></p>
        </div>
      </div>

      <!-- 5 (矩形) -->
      <div id="u1138" class="ax_default box_1" data-label="5">
        <img id="u1138_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1139" class="text" style="visibility: visible;">
          <p><span>&nbsp; 食谱管理</span></p>
        </div>
      </div>

      <!-- 6 (矩形) -->
      <div id="u1140" class="ax_default box_1" data-label="6">
        <img id="u1140_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1141" class="text" style="visibility: visible;">
          <p><span>&nbsp; 课程管理</span></p>
        </div>
      </div>

      <!-- 7 (矩形) -->
      <div id="u1142" class="ax_default box_1" data-label="7">
        <img id="u1142_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1143" class="text" style="visibility: visible;">
          <p><span>&nbsp; 卡号管理</span></p>
        </div>
      </div>

      <!-- 8 (矩形) -->
      <div id="u1144" class="ax_default box_1" data-label="8">
        <img id="u1144_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1145" class="text" style="visibility: visible;">
          <p><span>&nbsp;&nbsp; 学生考勤</span></p>
        </div>
      </div>

      <!-- 3 (矩形) -->
      <div id="u1146" class="ax_default box_1" data-label="3">
        <img id="u1146_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1147" class="text" style="visibility: visible;">
          <p><span>&nbsp; 学生管理</span></p>
        </div>
      </div>

      <!-- 2 (矩形) -->
      <div id="u1148" class="ax_default box_1" data-label="2">
        <img id="u1148_img" class="img " src="images/学校管理/1_u191.png"/>
        <!-- Unnamed () -->
        <div id="u1149" class="text" style="visibility: visible;">
          <p><span>&nbsp; 班级架构</span></p>
        </div>
      </div>

      <!-- 管理中心 (组合) -->
      <div id="u1150" class="ax_default" data-label="管理中心">

        <!-- Unnamed (矩形) -->
        <div id="u1151" class="ax_default box_1">
          <img id="u1151_img" class="img " src="images/学校管理/u185.png"/>
          <!-- Unnamed () -->
          <div id="u1152" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1153" class="ax_default _文本段落1">
          <img id="u1153_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u1154" class="text" style="visibility: visible;">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u1155" class="ax_default label">
          <img id="u1155_img" class="img " src="resources/images/transparent.gif"/>
          <!-- Unnamed () -->
          <div id="u1156" class="text" style="visibility: visible;">
            <p><span>管理中心</span></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
